<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <variable name="logDirectory" value="${environment:programdata}/ycdivfx/Nyx/Server/logs" />
    <targets>
      <!-- will move file to archive once it reaches 1MB. Files are archived by day, with a maximum of three files. ConcurrentWrites is set to false, 
            change to true if multiple processes will be writing to the logfile-->
      <target name="f1" xsi:type="File" fileName="${logDirectory}/Log.${level}.current.txt" layout="${longdate} ${logger} ${level}: ${message} ${exception:format=Message,StackTrace}" archiveFileName="${logDirectory}/archives/log.error.${shortdate}.{#}.txt" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Rolling" keepFileOpen="false" maxArchiveFiles="3" />
      <target name="c1" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${pad:padCharacter=0:padding=3:inner:${threadid}}|${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=tostring}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="c1" />
      <logger name="*" levels="Error,Warn" writeTo="f1" />
    </rules>
  </nlog>
</configuration>