<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${environment:programdata}/ycdivfx/Nyx/Client/logs" />
    <targets>
      <!-- will move file to archive once it reaches 1MB. Files are archived by day, with a maximum of three files. ConcurrentWrites is set to false, 
            change to true if multiple processes will be writing to the logfile-->
      <target name="f1" xsi:type="File" fileName="${logDirectory}/Log.${level}.current.txt" layout="${longdate} ${logger} ${level}: ${message} ${exception:format=Message,StackTrace}" archiveFileName="${logDirectory}/archives/log.error.${shortdate}.{#}.txt" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Rolling" keepFileOpen="false" maxArchiveFiles="3" />
    </targets>
    <rules>
      <logger name="*" levels="Error,Warn" writeTo="f1" />
    </rules>
  </nlog>
</configuration>